/build-OpenCVConfigurationTester-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/.qmake.stash
/build-OpenCVConfigurationTester-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/debug/main.o
/build-OpenCVConfigurationTester-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/debug/mainwindow.o
/build-OpenCVConfigurationTester-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/debug/moc_mainwindow.cpp
/build-OpenCVConfigurationTester-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/debug/moc_mainwindow.o
/build-OpenCVConfigurationTester-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/debug/moc_predefs.h
/build-OpenCVConfigurationTester-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/debug/OpenCVConfigurationTester.exe
/build-OpenCVConfigurationTester-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/Makefile
/build-OpenCVConfigurationTester-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/Makefile.Debug
/build-OpenCVConfigurationTester-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/Makefile.Release
/build-OpenCVConfigurationTester-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/ui_mainwindow.h
/build-OpenCVConfigurationTester-Desktop_Qt_5_2_1_MinGW_32bit-Debug/debug/main.o
/build-OpenCVConfigurationTester-Desktop_Qt_5_2_1_MinGW_32bit-Debug/debug/mainwindow.o
/build-OpenCVConfigurationTester-Desktop_Qt_5_2_1_MinGW_32bit-Debug/debug/moc_mainwindow.cpp
/build-OpenCVConfigurationTester-Desktop_Qt_5_2_1_MinGW_32bit-Debug/debug/moc_mainwindow.o
/build-OpenCVConfigurationTester-Desktop_Qt_5_2_1_MinGW_32bit-Debug/debug/OpenCVConfigurationTester.exe
/build-OpenCVConfigurationTester-Desktop_Qt_5_2_1_MinGW_32bit-Debug/Makefile
/build-OpenCVConfigurationTester-Desktop_Qt_5_2_1_MinGW_32bit-Debug/Makefile.Debug
/build-OpenCVConfigurationTester-Desktop_Qt_5_2_1_MinGW_32bit-Debug/Makefile.Release
/build-OpenCVConfigurationTester-Desktop_Qt_5_2_1_MinGW_32bit-Debug/ui_mainwindow.h
/build-OpenCVConfigurationTester-Desktop_Qt_5_2_1_MinGW_32bit-Release/Makefile
/build-OpenCVConfigurationTester-Desktop_Qt_5_2_1_MinGW_32bit-Release/Makefile.Debug
/build-OpenCVConfigurationTester-Desktop_Qt_5_2_1_MinGW_32bit-Release/Makefile.Release
/build-OpenCVConfigurationTester-Desktop_Qt_5_2_1_MinGW_32bit-Release/release/main.o
/build-OpenCVConfigurationTester-Desktop_Qt_5_2_1_MinGW_32bit-Release/release/mainwindow.o
/build-OpenCVConfigurationTester-Desktop_Qt_5_2_1_MinGW_32bit-Release/release/moc_mainwindow.cpp
/build-OpenCVConfigurationTester-Desktop_Qt_5_2_1_MinGW_32bit-Release/release/moc_mainwindow.o
/build-OpenCVConfigurationTester-Desktop_Qt_5_2_1_MinGW_32bit-Release/release/OpenCVConfigurationTester.exe
/build-OpenCVConfigurationTester-Desktop_Qt_5_2_1_MinGW_32bit-Release/ui_mainwindow.h
/build-OpenCVConfigurationTester-Desktop_Qt_5_6_2_MinGW_32bit-Debug/debug/main.o
/build-OpenCVConfigurationTester-Desktop_Qt_5_6_2_MinGW_32bit-Debug/debug/mainwindow.o
/build-OpenCVConfigurationTester-Desktop_Qt_5_6_2_MinGW_32bit-Debug/debug/moc_mainwindow.cpp
/build-OpenCVConfigurationTester-Desktop_Qt_5_6_2_MinGW_32bit-Debug/debug/moc_mainwindow.o
/build-OpenCVConfigurationTester-Desktop_Qt_5_6_2_MinGW_32bit-Debug/debug/OpenCVConfigurationTester.exe
/build-OpenCVConfigurationTester-Desktop_Qt_5_6_2_MinGW_32bit-Debug/Makefile
/build-OpenCVConfigurationTester-Desktop_Qt_5_6_2_MinGW_32bit-Debug/Makefile.Debug
/build-OpenCVConfigurationTester-Desktop_Qt_5_6_2_MinGW_32bit-Debug/Makefile.Release
/build-OpenCVConfigurationTester-Desktop_Qt_5_6_2_MinGW_32bit-Debug/ui_mainwindow.h
/OpenCVConfigurationTester/OpenCVConfigurationTester/OpenCVConfigurationTester.pro.user
/OpenCVConfigurationTester/OpenCVConfigurationTester.pro.user.4.8-pre1
/OpenCVConfigurationTester/OpenCVConfigurationTester.pro.user
